//Contains the 'global' variables used in this SASS project 

$backgroundColour: #FAFFFD;// #FFFFFF;
$HighLightColour: #FF3366;
$Colour1:  #2EC4B6;
$Colour2: #B3A394;
$Colour3: #102542;
//The colour used on the tooltips:
$ToolTipColour: #38B499;


//Media Querys Points of scale:

$breakpoints: (
  'mobile': ( max-width:  565px ),
  'small':  ( min-width:  567px ),
  'medium': ( min-width:  942px ),
  'large':  ( min-width: 1200px )
) !default;


/* RGB Color Scheme */
$color1: rgba(65, 60, 88, 1);
$color2: rgba(163, 196, 188, 1);
$color3: rgba(239, 239, 208, 1);
$color4: rgba(0, 78, 137, 1);
$color5: rgba(26, 101, 158, 1);


